@model Travelista.Models.City

@{
    ViewData["Title"] = "Details";
}



<div class="container">
    <h1>Details</h1>
    <h4>City</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.country)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.country.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Population)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Population)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image_Url)
        </dt>
        <dd class = "col-sm-10">
           
            <img src="~/Image/@Model.Image_Url"  width="60" height="40"/>
        </dd>
    </dl>
    <div>
    <a asp-action="Edit" class="btn btn-success me-3" asp-route-id="@Model?.ID">Edit</a> 
    <a asp-action="Index" class="btn btn-dark">Back to List</a>
</div>
</div>

