@model IEnumerable<Travelista.Models.Country>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <h1>Index</h1>

<p>
    <a asp-action="Create" class="btn text-light" style="background-color:#00357D" >Create New</a>
</p>
@if (!string.IsNullOrEmpty(ViewBag.CreateMessage))
         {
       <p class="title alert alert-success">@ViewBag.CreateMessage</p>
        }
@if (!string.IsNullOrEmpty(ViewBag.EditMessage))
         {
       <p class="title alert alert-success">@ViewBag.EditMessage</p>
        }
<table class="table table-hover">
    <thead class="text-light" style="background-color:#00357D">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Currency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Population)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image_Url)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Currency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Population)
            </td>
            <td>
               <img src="~/Image/@item.Image_Url" width="60" height="40"/>
            </td>
            <td class="d-flex justify-content-end">
                <partial name="_ButtonPartial" model="@item.ID"></partial>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
